.main{
  display: flex;
  flex-direction: row;
}

.main-title{
  padding: 15px;
  background-color: rgb(245, 143, 102);
  border-bottom: 2px solid rgb(251, 87, 21);
  color: white;
}

.col{
  width: 33vw;
  padding: 15px;
}

@media (max-width: 1000px) {
  .main {
    flex-direction: column;
  }
  .col{
    width: 100vw;
  }
}